<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
    <h1>URLS</h1>
    <ul>
      <% for(var header in templateVars) { %>
        <li><%= header + ': ' + templateVars[header] %></li>
      <% } %>
    </ul>
</body>
</html>