<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
    <% include partials/_header %>
    <ul>
      <% for(var url in urls[user_id]) { %>
        <li><%= url + ': ' + urls[user_id][url] %></li>
        <form method="POST" action= <%= `/urls/${url}/delete?_method=DELETE` %> >
          <a href= "<%= `/urls/${url}` %>" > Edit</a>
          <input type="submit" value="Delete This URL">
        </form>
      <% } %>
    </ul>

</body>
</html>