<!DOCTYPE html>
<html lang="en">
<head>
  <title>Show URL</title>
</head>
<body>
    <% include partials/_header %>
    <% let longURL = urls[user_id][shortURL] %>
    <p> <%= `Short URL: ${shortURL}` %> </p>
    <p><%= `Current long URL: ${longURL}` %> </p>
    <form method="POST" action= <%= `/urls/${shortURL}?_method=PUT` %> >
        <input type="text" name = "newURL" placeholder= "New URL">
        <input type="submit" name="Submit">
    </form>
</body>
</html>