<!DOCTYPE html>
<html lang="en">
<head>
  <title>Show URL</title>
</head>
<body>
    <% include partials/_header %>
    <% let longURL = urls[shortURL] %>
    <p> <%= `The short URl is ${shortURL} and the long URL is ${longURL} test` %> </p>
</body>
</html>